name: Composer Diff

on:
  workflow_call:
    inputs:
      runsOn:
        description: Define on which runner this workflow should run
        default: "ubuntu-latest"
        required: false
        type: string
      workingDirectory:
        description: The directory to run this workflow in
        default: ""
        required: false
        type: string

jobs:
  comment-composer-lock-diff:
    name: Comment composer.lock diff
    runs-on: ${{ inputs.runsOn }}
    steps:
      - name: Comment composer.lock diff
        uses: WyriHaximus/github-action-composer.lock-diff@d2b6c68fc499994f38d21b4c5c173df7e33202f0 # v2.3.0
        with:
          workingDirectory: ${{ inputs.workingDirectory }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
