name: Private Packagist Conductor

on:
  workflow_call:
    inputs:
      runsOn:
        description: Define on which runner this workflow should run
        default: "ubuntu-latest"
        required: false
        type: string
      workingDirectory:
        description: The directory to run this workflow in
        default: ""
        required: false
        type: string

jobs:
  conductor:
    name: Private Packagist Conductor
    runs-on: ${{ inputs.runsOn }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          sparse-checkout: |
            ${{ inputs.workingDirectory }}composer.json
            ${{ inputs.workingDirectory }}composer.lock
      - name: Get desired PHP version
        id: supported-versions-matrix
        uses: WyriHaximus/github-action-composer-php-versions-in-range@d037519ac6672bf126b1335dcff5f1fd0062658e # v1.15.0
      - name: Install PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
        env:
          fail-fast: true
        with:
          php-version: "${{ steps.supported-versions-matrix.outputs.lowest }}"
          coverage: "none"
          extensions: ${{ join(fromJson(steps.supported-versions-matrix.outputs.extensions), ',') }}
      - name: "Running Conductor"
        uses: packagist/conductor-github-action@29356821128dd557cfc7b7e4a397343a28612a86 # 1.5.2
