name: Diff
on:
  workflow_call:
    inputs:
      runsOnChaos:
        description: Define on which runner to run workflows where order doesn't matter should run
        default: "ubuntu-latest"
        required: false
        type: string
      runsOnChaosUnicorn:
        description: Define on which runner to run workflows where order doesn't matter should run
        default: "ubuntu-slim"
        required: false
        type: string
      runsOnOrder:
        description: Define on which runner to run workflows where order matters should run
        default: "ubuntu-latest"
        required: false
        type: string
      workingDirectory:
        description: The directory to run this workflow in
        default: ""
        required: false
        type: string
      disableComposerLockDiff:
        description: Disable the diffing of composer lock files
        default: false
        required: false
        type: boolean
      helmReleaseName:
        description: The name of the helm release
        default: ""
        required: false
        type: string
      helmReleaseValueName:
        description: The name of the value to use for releases
        default: ""
        required: false
        type: string
      helmDirectory:
        description: The directory to run this workflow in
        default: ""
        required: false
        type: string
      helmSparseCheckout:
        description: Additional files/patterns for the sparse checkout
        default: ""
        required: false
        type: string
      helmAdditionalArguments:
        description: The directory to run this workflow in
        default: ""
        required: false
        type: string
      helmUpdateAppVersion:
        description: Update the helm charts appVersion with the passed version
        default: false
        required: false
        type: boolean
      kubeConfigSecret:
        description: The secret name that holds the kubeconfig to connect with Kubernetes
        required: false
        type: string
      terraformDirectory:
        description: The directory to run this workflow in
        default: ""
        required: false
        type: string
      terraformSparseCheckout:
        description: Additional files/patterns for the sparse checkout
        default: ""
        required: false
        type: string
      terraformVars:
        description: The directory to run this workflow in
        default: ""
        required: false
        type: string
      terraformParallelism:
        description: Value for the -parallelism plan/apply flag
        default: 13
        required: false
        type: number
      terraformLogLevel:
        description: Value for the TF_LOG environment value
        default: ""
        required: false
        type: string
      serverlessSparseCheckout:
        description: Additional files/patterns for the sparse checkout
        default: ""
        required: false
        type: string
      awsAccessKeyIDSecret:
        description: The secret name that holds the AWS access key ID
        default: "SERVERLESS_KEY"
        required: false
        type: string
      awsSecretAccessKeySecret:
        description: The secret name that holds the AWS access key secret
        default: "SERVERLESS_SECRET"
        required: false
        type: string
      awsRegionSecret :
        description: The secret name that holds the AWS region
        default: "SERVERLESS_REGION"
        required: false
        type: string
jobs:
  helm-diff:
    name: Helm Diff
    if: inputs.helmDirectory != ''
    uses: ./.github/workflows/helm-diff.yaml
    secrets: inherit
    with:
      runsOn: ${{ inputs.runsOnOrder }}
      workingDirectory: ${{ inputs.workingDirectory }}
      helmReleaseName: ${{ inputs.helmReleaseName }}
      helmReleaseValueName: ${{ inputs.helmReleaseValueName }}
      helmDirectory: ${{ inputs.helmDirectory }}
      helmSparseCheckout: ${{ inputs.helmSparseCheckout }}
      helmAdditionalArguments: ${{ inputs.helmAdditionalArguments }}
      helmUpdateAppVersion: ${{ inputs.helmUpdateAppVersion }}
      kubeConfigSecret: ${{ inputs.kubeConfigSecret }}
  terraform-diff:
    name: Terraform Diff
    if: inputs.terraformDirectory != ''
    uses: ./.github/workflows/terraform-diff.yaml
    secrets: inherit
    with:
      runsOn: ${{ inputs.runsOnOrder }}
      workingDirectory: ${{ inputs.workingDirectory }}
      terraformDirectory: ${{ inputs.terraformDirectory }}
      terraformSparseCheckout: ${{ inputs.terraformSparseCheckout }}
      terraformVars: ${{ inputs.terraformVars }}
      terraformParallelism: ${{ inputs.terraformParallelism }}
      terraformLogLevel: ${{ inputs.terraformLogLevel }}
      kubeConfigSecret: ${{ inputs.kubeConfigSecret }}
#  serverless-diff:
#    name: Serverless Diff
##    if: inputs.terraformDirectory != ''
#    uses: ./.github/workflows/serverless-diff.yaml
#    secrets: inherit
#    with:
#      runsOn: ${{ inputs.runsOnOrder }}
#      workingDirectory: ${{ inputs.workingDirectory }}
#      serverlessSparseCheckout: ${{ inputs.serverlessSparseCheckout }}
#      awsAccessKeyIDSecret: ${{ inputs.awsAccessKeyIDSecret }}
#      awsSecretAccessKeySecret: ${{ inputs.awsSecretAccessKeySecret }}
#      awsRegionSecret : ${{ inputs.awsRegionSecret  }}
  comment-composer-lock-diff:
    name: Composer Diff
    if: inputs.disableComposerLockDiff == false
    uses: ./.github/workflows/composer-diff.yaml
    secrets: inherit
    with:
      runsOn: ${{ inputs.runsOnChaosUnicorn }}
      workingDirectory: ${{ inputs.workingDirectory }}
