name: Continuous Integration
on:
  push:
    branches:
      - 'main'
      - 'master'
      - 'refs/heads/r[0-9]+'
  pull_request:
## This workflow needs the `pull-request` permissions to work for the package diffing
## Refs: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#permissions
permissions:
  pull-requests: write
  checks: write
jobs:
  ensure-readme-is-up-to-date:
    name: Ensure README is up to date
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/wyrihaximusnet/php:8.4-nts-alpine-dev-root
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Move current README
        run: |
          mv README.md README.current.md
      - name: Generate README.md
        run: |
          make generate
      - name: Check that the files are the exact same
        uses: LouisBrunner/diff-action@v2.2.0
        with:
          old: README.current.md
          new: README.md
          mode: strict
          tolerance: same
          token: ${{ secrets.GITHUB_TOKEN }}
          notify_check: true
          notify_issue: "failure"
          sticky_comment: true
          title: README
  markdown-link-check:
    name: Check Markdown links
    uses: ./.github/workflows/markdown-check-links.yaml
    with:
      markdownLinkCheckSparseCheckout: |
        /images/*
