name: Helm Deploy

on:
  workflow_call:
    inputs:
      version:
        description: The version to deploy
        required: true
        type: string
      runsOn:
        description: Define on which runner this workflow should run
        default: "ubuntu-latest"
        required: false
        type: string
      workingDirectory:
        description: The directory to run this workflow in
        default: ""
        required: false
        type: string
      helmReleaseName:
        description: The name of the helm release
        default: ""
        required: true
        type: string
      helmReleaseValueName:
        description: The name of the value to use for releases
        default: ""
        required: true
        type: string
      helmDirectory:
        description: The directory to run this workflow in
        default: ""
        required: true
        type: string
      helmSparseCheckout:
        description: Additional files/patterns for the sparse checkout
        default: ""
        required: false
        type: string
      helmAdditionalArguments:
        description: The directory to run this workflow in
        default: ""
        required: false
        type: string
      helmUpdateAppVersion:
        description: Update the helm charts appVersion with the passed version
        default: false
        required: false
        type: boolean
      kubeConfigSecret:
        description: The secret name that holds the kubeconfig to connect with Kubernetes
        required: true
        type: string
jobs:
  helm-deploy:
    name: Helm Deploy
    runs-on: ${{ inputs.runsOn }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          sparse-checkout-cone-mode: false
          sparse-checkout: |
            !${{ inputs.workingDirectory }}/*
            /${{ inputs.workingDirectory }}${{ inputs.helmDirectory }}*
            ${{ inputs.helmSparseCheckout }}
      - name: Prep helm chart
        if: inputs.helmUpdateAppVersion
        run: |
          mv ${{ inputs.workingDirectory }}${{ inputs.helmDirectory }}Chart.yaml ${{ inputs.workingDirectory }}${{ inputs.helmDirectory }}Chart.old.yaml &&
          cat ${{ inputs.workingDirectory }}${{ inputs.helmDirectory }}Chart.old.yaml | grep -v appVersion > ${{ inputs.workingDirectory }}${{ inputs.helmDirectory }}Chart.yaml &&
          rm ${{ inputs.workingDirectory }}${{ inputs.helmDirectory }}Chart.old.yaml
          echo -e "\r\nappVersion: ${{ inputs.version }}\r\n" >> ${{ inputs.workingDirectory }}${{ inputs.helmDirectory }}Chart.yaml &&
          cat ${{ inputs.workingDirectory }}${{ inputs.helmDirectory }}Chart.yaml
      - name: Deploy
        uses: WyriHaximus/github-action-helm3@e3894d973c282349e3d41d3347767f2b2545b583 # v4.0.2
        with:
          exec: |
            helm repo add WyriHaximusNet https://helm.wyrihaximus.net/
            helm repo add MammatusPHP https://mammatusphp.github.io/helm-charts/
            helm dependency build ${{ inputs.workingDirectory }}${{ inputs.helmDirectory }}
            helm upgrade --install --wait --atomic --timeout 60m6s ${{ inputs.helmReleaseName }} ${{ inputs.workingDirectory }}${{ inputs.helmDirectory }}  --set ${{ inputs.helmReleaseValueName }}=${{ inputs.version }} ${{ inputs.helmAdditionalArguments }}
          kubeconfig: ${{ secrets[inputs.kubeConfigSecret] }}
          overrule_existing_kubeconfig: "true"
