name: Check Markdown links

on:
  workflow_call:
    inputs:
      runsOn:
        description: Define on which runner this workflow should run
        default: "ubuntu-latest"
        required: false
        type: string
      workingDirectory:
        description: The directory to run this workflow in
        default: ""
        required: false
        type: string
      markdownLinkCheckSparseCheckout:
        description: Additional files/patterns for the sparse checkout
        default: ""
        required: false
        type: string

#defaults:
#  run:
#    working-directory: ${{ inputs.workingDirectory }}

jobs:
  markdown-link-check:
    name: Check Markdown links
    runs-on: ${{ inputs.runsOn }}
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          sparse-checkout-cone-mode: false
          sparse-checkout: |
            !${{ inputs.workingDirectory }}/*
            ${{ inputs.workingDirectory }}/**/*.md
            ${{ inputs.markdownLinkCheckSparseCheckout }}
      - name: Check Markdown links
        uses: umbrelladocs/action-linkspector@652f85bc57bb1e7d4327260decc10aa68f7694c3 # v1.4.0
        with:
          reporter: github-pr-review
          fail_on_error: true
#          config_file: etc/ci/markdown-link-checker.json
