name: OCI Image Re-tag

on:
  workflow_call:
    inputs:
      runsOn:
        description: Define on which runner this workflow should run
        default: "ubuntu-latest"
        required: false
        type: string
      from:
        description: The original tag to retag from
        required: true
        type: string
      to:
        description: The target tag to retag to
        required: true
        type: string
      ociPushSecretSecret:
        description: The secret name that holds the token to push OCI images to GHCR.io
        default: "GITHUB_TOKEN"
        required: false
        type: string
jobs:
  oci-retag:
    name: OCI Image Re-tag
    runs-on: ${{ inputs.runsOn }}
    steps:
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets[inputs.ociPushSecretSecret] }}
      - name: Set up QEMU
        if: inputs.runsOn == 'ubuntu-latest'
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - name: Set up QEMU
        if: inputs.runsOn != 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y qemu-user-static
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
        with:
          install: true
      - name: Inspect builder
        run: |
          echo "Name:      ${{ steps.buildx.outputs.name }}"
          echo "Endpoint:  ${{ steps.buildx.outputs.endpoint }}"
          echo "Status:    ${{ steps.buildx.outputs.status }}"
          echo "Flags:     ${{ steps.buildx.outputs.flags }}"
          echo "Platforms: ${{ steps.buildx.outputs.platforms }}"
      - name: Lowercase image name
        id: lowercase
        run: |
          echo "from=$(echo "${{ inputs.from }}" | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT
          echo "to=$(echo "${{ inputs.to }}" | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT
      - name: Prepare Dockerfile
        run: |
          echo "${{ steps.lowercase.outputs.from }}"
          echo "FROM ${{ steps.lowercase.outputs.from }}" >> Dockerfile.tag
          cat Dockerfile.tag
      - name: Wait for OCI build from CI workflow to complete
        uses: int128/wait-for-docker-image-action@80c0ad4bd45522540e6d7cabb4d33ac2fa17c672 # v1.14.0
        with:
          tags: ${{ steps.lowercase.outputs.from }}
          timeout-seconds: 10800
      - name: Detect Platform Flag
        id: platform
        uses: wyrihaximus/github-action-oci-image-supported-platforms@v1.0.0
        with:
          image: ${{ steps.lowercase.outputs.from }}
      - name: Pull, retag, and push image
        uses: nick-invision/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v3.0.2
        with:
          timeout_minutes: 120
          retry_wait_seconds: 10
          max_attempts: 13
          command: docker build --platform=${{ steps.platform.outputs.platform_csv }} --output=type=registry --no-cache -f Dockerfile.tag -t "${{ steps.lowercase.outputs.to }}" .
