name: OCI Image Build

on:
  workflow_call:
    inputs:
      runsOn:
        description: Define on which runner this workflow should run
        default: "ubuntu-latest"
        required: false
        type: string
      dockerfile:
        description: The Dockerfile to build
        required: true
        type: string
      dockerBuildTarget:
        description: Value for the --target flag
        default: ""
        required: false
        type: string
      dockerBuildExtraArguments:
        description: Extra arguments to pass to the docker build command
        required: false
        type: string
      tag:
        description: The tag for the image we're building
        required: true
        type: string
      ociPlatforms:
        description: The platforms to build the OCI image for, empty means autodetect
        default: ""
        required: false
        type: string
      ociPushSecretSecret:
        description: The secret name that holds the token to push OCI images to GHCR.io
        default: "GITHUB_TOKEN"
        required: false
        type: string
      ociSparseCheckout:
        description: Sparse checkout patterns in cone mode
        default: ""
        required: false
        type: string
jobs:
  oci-build:
    name: OCI Image Build
    runs-on: ${{ inputs.runsOn }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          sparse-checkout-cone-mode: false
          sparse-checkout: |
            ${{ inputs.ociSparseCheckout }}
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets[inputs.ociPushSecretSecret] }}
      - name: Set up QEMU
        if: inputs.runsOn == 'ubuntu-latest'
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - name: Set up QEMU
        if: inputs.runsOn != 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y qemu-user-static
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
        with:
          install: true
      - name: Inspect builder
        run: |
          echo "Name:      ${{ steps.buildx.outputs.name }}"
          echo "Endpoint:  ${{ steps.buildx.outputs.endpoint }}"
          echo "Status:    ${{ steps.buildx.outputs.status }}"
          echo "Flags:     ${{ steps.buildx.outputs.flags }}"
          echo "Platforms: ${{ steps.buildx.outputs.platforms }}"
      - name: Detect Platform Flag
        if: inputs.ociPlatforms == ''
        id: platform
        uses: wyrihaximus/github-action-oci-image-supported-platforms@v1.0.0
        with:
          dockerfile: ${{ inputs.dockerfile }}
      - name: Build, and push image
        run: docker build --label org.opencontainers.image.revision=${{ github.sha }} --platform=${{ inputs.ociPlatforms != '' && inputs.ociPlatforms || steps.platform.outputs.platform_csv }} --output=type=registry -f ${{ inputs.dockerfile }} -t $(echo "${{ inputs.tag }}" | tr '[:upper:]' '[:lower:]') . ${{ inputs.dockerBuildTarget != '' && format('--target={0}', inputs.dockerBuildTarget) || ''}} ${{ inputs.dockerBuildExtraArguments }}
