name: Set Milestone
on:
  workflow_call:
    inputs:
      runsOn:
        description: Define on which runner this workflow should run
        default: "ubuntu-latest"
        required: false
        type: string
      initialTag:
        description: The tag to fallback to when no previous tag could be found.
        default: 1.0.0
        required: false
        type: string
      dependencyUpdaters:
        description: CSV list of bot AppId's that create PR's to updated dependencies like RenovateBot and DependaBot
        default: 49699333
        required: false
        type: string
env:
  FALLBACK_TAG: not_found
jobs:
  supported-versions-matrix:
    name: Supported Versions Matrix
    runs-on: ${{ inputs.runsOn }}
    outputs:
      extensions: ${{ steps.supported-versions-matrix.outputs.extensions }}
      lowest: ${{ steps.supported-versions-matrix.outputs.lowest }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          sparse-checkout: |
            ${{ inputs.workingDirectory }}composer.json
            ${{ inputs.workingDirectory }}composer.lock
      - id: supported-versions-matrix
        uses: WyriHaximus/github-action-composer-php-versions-in-range@d037519ac6672bf126b1335dcff5f1fd0062658e # v1.15.0
        with:
          upcomingReleases: true
  supported-threading-matrix:
    name: Supported Threading Matrix
    needs:
      - supported-versions-matrix
    uses: ./.github/workflows/supported-threading-matrix.yaml
    with:
      extensions: ${{ needs.supported-versions-matrix.outputs.extensions }}
      runsOn: ${{ inputs.runsOn }}
      isProject: false
  figure-out-version:
    name: Figure out what the version should be
    needs:
      - supported-threading-matrix
      - supported-versions-matrix
    if: github.event.pull_request.milestone == null
    runs-on: ${{ inputs.runsOn }}
    container:
      image: ghcr.io/wyrihaximusnet/php:${{ needs.supported-versions-matrix.outputs.lowest }}-${{ needs.supported-threading-matrix.outputs.primary }}-alpine-dev-root
    outputs:
      version: ${{ steps.decidedversion.outputs.version }}
    steps:
      - name: 'Setup jq'
        uses: dcarbone/install-jq-action@b7ef57d46ece78760b4019dbc4080a1ba2a40b45 # v3.2.0
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - run: git config --global --add safe.directory $GITHUB_WORKSPACE # Do this ourself because `actions/checkout@v4 doesn't succeed in doing this
      - run: git fetch --tags origin
      - name: Get Previous tag
        id: previoustag
        uses: "WyriHaximus/github-action-get-previous-tag@04e8485ecb6487243907e330d522ff60f02283ce" # v1.4.0
        with:
          fallback: ${{ inputs.initialTag }}
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      - name: 'Get next versions'
        id: semvers
        if: steps.previoustag.outputs.tag != env.FALLBACK_TAG
        uses: "WyriHaximus/github-action-next-semvers@18aa9ed4152808ab99b88d71f5481e41f8d89930" # v1.2.1
        with:
          version: ${{ steps.previoustag.outputs.tag }}
      - name: 'Decide which version fits this PR'
        id: decidedversion
        run: |
          if [ "${PREVIOUS_TAG}" = "${FALLBACK_TAG}" ]; then
            printf "::set-output name=version::%s" "${{ inputs.initialTag }}"
            exit 0
          fi

          if [ "$(jq '.sender.id' -r ${GITHUB_EVENT_PATH})" = "${{ inputs.dependencyUpdaters }}" ]; then
            printf "::set-output name=version::%s" "${PATCH}"
            exit 0
          fi

          composer install --no-progress --ansi --no-interaction --prefer-dist -o -q

          if ! (./vendor/bin/roave-backward-compatibility-check); then
            printf "::set-output name=version::%s" "${MAJOR}"
            exit 0
          fi

          printf "::set-output name=version::%s" "${MINOR}"
        env:
          PREVIOUS_TAG: ${{ steps.previoustag.outputs.tag }}
          MAJOR: ${{ steps.semvers.outputs.major }}
          MINOR: ${{ steps.semvers.outputs.minor }}
          PATCH: ${{ steps.semvers.outputs.patch }}
  set-milestone:
    name: Set Milestone
    needs:
      - figure-out-version
    uses: ./.github/workflows/set-milestone-on-pr.yaml
    secrets: inherit
    with:
      runsOn: ${{ inputs.runsOn }}
      version: ${{ needs.figure-out-version.outputs.version }}

