name: Set Milestone
on:
  workflow_call:
    inputs:
      runsOn:
        description: Define on which runner this workflow should run
        default: "ubuntu-latest"
        required: false
        type: string
      initialTag:
        description: The tag to fallback to when no previous tag could be found.
        default: r1
        required: false
        type: string
jobs:
  figure-out-version:
    name: Figure out what the version should be
    runs-on: ${{ inputs.runsOn }}
    outputs:
      version: ${{ steps.semvers.outputs.r_version }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          sparse-checkout: |
            Makefile
      - run: git config --global --add safe.directory $GITHUB_WORKSPACE # Do this ourself because `actions/checkout@v4 doesn't succeed in doing this
      - run: git fetch --tags origin
      - name: Get Previous tag
        id: previoustag
        uses: "WyriHaximus/github-action-get-previous-tag@04e8485ecb6487243907e330d522ff60f02283ce" # v1.4.0
        with:
          fallback: ${{ inputs.initialTag }}
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      - name: Get next minor version
        id: semvers
        uses: WyriHaximus/github-action-next-release-version@1f653afbb4e00a7531c41f4a863443fda2a6a60e # v1.1.0
        with:
          version: ${{ steps.previoustag.outputs.tag }}
  set-milestone:
    name: Set Milestone
    needs:
      - figure-out-version
    uses: ./.github/workflows/set-milestone-on-pr.yaml
    secrets: inherit
    with:
      runsOn: ${{ inputs.runsOn }}
      version: ${{ needs.figure-out-version.outputs.version }}
